.mainContainer {
    border-radius: 17px;
    max-width: 300px;
}

.icon {
    width: 2em;

}

.socialHomeItem {
    margin: .75rem;
    padding: 5px;
}

.iconContainer {
    margin-top: 50vh;
    width: fit-content;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

@media all and (max-width: 620px) {
    .iconContainer {
        display: none;
    }
}

.navbar-items {
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}

.mainContent {
    margin-top: 3rem;
    background-color: rgb(119, 33, 22);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 50vh;
}