nav {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin-left: 7px;
    margin-right: 7px;
}

.mainContainer {
    border-radius: 17px;
    max-width: 300px;
}

.icon {
    width: 2em;
}

.socialHomeItem {
    margin: .75rem;
    padding: 5px;
}

.iconContainer {
    width: fit-content;
    margin-top: -300px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    position: absolute;
}