html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
.mainContainer {
    border-radius: 17px;
    max-width: 300px;
}

.icon {
    width: 2em;

}

.socialHomeItem {
    margin: .75rem;
    padding: 5px;
}

.iconContainer {
    margin-top: 50vh;
    width: fit-content;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

@media all and (max-width: 620px) {
    .iconContainer {
        display: none;
    }
}

.navbar-items {
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}

.mainContent {
    background-color: rgb(153, 66, 55);
    height: 100vh;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p40vh {
    padding: 40vh;
}

#mainContentInfo {
    position: fixed;
}

#readMoreInfo {
    margin-top: -5vh;
    position: fixed;
    bottom: 0;
    right: 50vw;
    left: 50vw;
    max-width: fit-content;
}

/* @media all and (max-width: 900px) {
    
    #readMoreInfo {
        display: none;
    }
} */

.secondContent {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
