@media all and (min-width:850px)
{
    #hiddenAB {
        display: none;
    }

    #hiddenPR {
        display: none;
    }

    #hiddenRE {
        display: none;
    }

    #hiddenGIT {
        display: none;
    }
    
}


@media all and (max-width:850px) {
    body{
        margin:1vw;
    }

    .fullEnclosure {
        background-color:#dbdbdb;
        width: 90vw;
        display: inline-block;
        border-radius: 1rem;
        margin-top:20px;
        padding-top: 10px;
    }
    
    #name {
        font-size:8.5vw;
        font-weight:bold;
        margin-top:5rem;
        -webkit-transition-duration: .15s;
        transition-duration: .15s;
    }
    #welcomeMessage{
        font-size:4.5vw;
        font-style: italic;
        -webkit-transition-duration: .15s;
        transition-duration: .15s;
    }
    
    .navContainer{
        text-align: center;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    
    #navButtons{
        display: block;
        width: 100% !important;
    }
    
    button {
        width:100%;
    }
    
    #navButtonAboutMe:hover{
        color: #FFF;
        background-color: #fc8cf7;
        border-color: #fc8cf7;
        font-size:2.5vw;
        margin: 0rem;
    }

    #navButtonResume:hover{
        color: #FFF;
        background-color: #33C3F0;
        border-color: #33C3F0;
        font-size:2.5vw;
        margin: 0rem;
    }

    #navButtonProjects:hover{
        color: #FFF;
        background-color: #33f0bd;
        border-color: #33f0bd;
        font-size:2.5vw;
        margin: 0rem;
    }

    #navButtonGIT:hover{
        color: #FFF;
        background-color: #fd6d7e;
        border-color: #fd6d7e;
        font-size:2.5vw;
        margin: 0rem;
    }
    
    .info{
        text-align: center;
        margin-left:2rem;
        margin-right:2rem;
    }
    #infoContainer{
        width: 100%;
        display:inline-block;
    }
    
    #imageMini
    {
        max-width: 25vw;
        height:auto;
    }
    
    #text{
        font-size: 4vw;
    }
    
    #title{
        font-size: 6vw;
    }
    
    iframe {
        height: 300px;
        width: 100%;
    }
    
    #hiddenAB{
        display: none;
        animation: fadein .75s;
    }
    
    #hiddenRE{
        display: none;
        animation: fadein .75s;
    }
    
    #hiddenPR{
        display: none;
        animation: fadein .75s;
    }
    
    #hiddenGIT{
        display: none;
        animation: fadein .75s;
    }
}
